## For Loops
Traversal: Do something to each item in a sequence

Use: when you know how  many times you'll need to do something

In [1]:
prime_nums = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]

for every number in this list:
    do something to it

In [2]:
print(prime_nums)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]

In [4]:
for x in prime_nums:
    print(x)

2
3
5
7
11
13
17
19
23
29
31

In [7]:
prime_nums * 2

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31]

In [6]:
for num in prime_nums:
    print(num * 2)

4
6
10
14
22
26
34
38
46
58
62

In [8]:
test_string = "testthisthing!"

In [9]:
print(test_string)

testthisthing!

In [10]:
for letter in test_string:
    print(letter)

t
e
s
t
t
h
i
s
t
h
i
n
g
!

In [11]:
for letter in test_string:
    print(letter + "no")

tno
eno
sno
tno
tno
hno
ino
sno
tno
hno
ino
nno
gno
!no

## Enumeration
Get the index (place) and value for each item in a sequence

In [12]:
fruits = ['apples', 'bananas', 'blueberries', 'oranges', 'mangos']

for index, fruit in enumerate(fruits):
    print("The fruit, " + fruit + ", is in position " + str(index) + ".")

The fruit, apples, is in position 0.
The fruit, bananas, is in position 1.
The fruit, blueberries, is in position 2.
The fruit, oranges, is in position 3.
The fruit, mangos, is in position 4.

## Range Function

In [13]:
for i in range(3):
    print('i is now: {}'.format(i))

i is now: 0
i is now: 1
i is now: 2

In [14]:
for your_mom in range(3):
    print('i is now: {}'.format(your_mom))

i is now: 0
i is now: 1
i is now: 2

## Tables/Histograms

In [16]:
for x in range(13):   # Generate numbers 0 to 12
    print(x, '\t', 2**x, '\t', 3**x)

0 	 1 	 1
1 	 2 	 3
2 	 4 	 9
3 	 8 	 27
4 	 16 	 81
5 	 32 	 243
6 	 64 	 729
7 	 128 	 2187
8 	 256 	 6561
9 	 512 	 19683
10 	 1024 	 59049
11 	 2048 	 177147
12 	 4096 	 531441

## List comprehension
Shorthand for a for loop

[do_something for x in sequence]

In [19]:
[ "Here's {}".format(x) for x in fruits]

["Here's apples",
 "Here's bananas",
 "Here's blueberries",
 "Here's oranges",
 "Here's mangos"]

In [22]:
[ x * 2 for x in prime_nums]

[4, 6, 10, 14, 22, 26, 34, 38, 46, 58, 62]