# Sets
A list that only contains unique elements

In [7]:
test_string = "what the what ?"

In [8]:
set(test_string.split(" "))

{'?', 'the', 'what'}

In [9]:
test_list = [1,1,1,2]

In [10]:
set(test_list)

{1, 2}

## Intersection
Which items occur in both sets?

In [11]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

In [12]:
a.intersection(b)

{'John'}

In [13]:
b.intersection(a)

{'John'}

## Symmetric Difference
Which items occur in only one set?

In [14]:
a.symmetric_difference(b)

{'Eric', 'Jake', 'Jill'}

## Difference
Which items occur in only one list and not the other?

In [15]:
a.difference(b)

{'Eric', 'Jake'}

In [16]:
b.difference(a)

{'Jill'}

## Union
List all members of both sets

In [17]:
a.union(b)

{'Eric', 'Jake', 'Jill', 'John'}

## HW 4 Example: 
Write a function that counts the number of airports in each country and prints out the total counts.

In [4]:
import csv
f = open('airports.dat', encoding='utf8') 
reader = csv.reader(f, delimiter=',') 

country_list = []
for line in reader:
    country_name = line[3]
    country_list.append(country_name)

print(len(set(country_list)))

237